@font-face {
    font-family: 'SHOOTING';
    src: url(fonts/SHOOTING.ttf);
}

body {
	font-family: Helvetica;
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

#settingsMenu {
	width: 80%;
  height: 720px;
  background-color: lightgrey;
  opacity: 0.7;
  margin: 25px auto;
	margin-top: 5%;
  border: solid 10px black;
}

#submitSettings {
	background-color: #8A8A8A;
	border: solid 5px black;
	color: black;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	font-size: 25px;
}

#settingsHeader {
	font-family: 'SHOOTING';
	font-size: 36px;
	font-weight: bold;
	padding-left: 120px;
	text-align: center;
}

#helpSymbol {
	width: 80px;
	height: 80px;
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}

.patientSettings {
	font-family: 'SHOOTING';
	text-align: center;
	font-size: 30px;
	width: 30%;
	height: 600px;
	border: solid 5px black;
	background-color: #555555;
	color: #D2D2D2;
}

.deletePatient {
	font-family: 'SHOOTING';
	text-align: center;
	font-size: 30px;
	width: 30%;
	height: 600px;
	border: solid 5px black;
	background-color: #555555;
	color: #D2D2D2;
}











#listHeading {
	font-family: 'SHOOTING';
	font-weight: bold;
	font-size: 30px;
}

.patientList {
	color: #B3B3B3;
	display: grid;
	grid-template-columns: 12.5% 12.5% 12.5% 12.5%;
	grid-template-rows: auto;
	grid-template-areas:
		". . . ."
		"patient doctor room time"
		"patient doctor room time"
		"patient doctor room time"
		"patient doctor room time";
}

.patient {
	grid-area: patient;
}

.doctor {
	grid-area: doctor;
}

p {
	font-size: 20px;
}

h1 {
	width: 400px;
	margin-top: 30px;
	padding-left: 1em;
	color: #B3B3B3;
	font-family: 'SHOOTING';
	font-size: 60px;
}

footer {
	margin-left: -8px;
	padding: 0px;
	bottom: 0;
	position: fixed;
	width: 100%;
	overflow: hidden;
	background-color: lightgrey;
	text-align: center;
	text-decoration: none;
	opacity: 0.4;
}
