@font-face {
  font-family: 'SHOOTING';
  src: url(fonts/SHOOTING.ttf);
}

body {
  font-family: Helvetica;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

button {
  font-family: 'SHOOTING';
}

h1 {
  width: 80vw;
  margin-top: 30px;
  padding-left: 1em;
  color: #B3B3B3;
  font-family: 'SHOOTING';
  font-size: 8vh;
}

#settingsMenu {
  width: 80%;
  height: 20%;
  background-color: lightgrey;
  opacity: 0.7;
  margin: 25px auto;
  margin-top: 5%;
  border: solid 5px black;
}

#settingBlocks {
  display: flex;
}

#addPatient, #submitDelete {
  background-color: #8A8A8A;
  border: solid 3px black;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 140%;
}

#patientName, #doctorName, #room, #time {
  background-color: #8A8A8A;
  border: solid 3px black;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 140%;
  width: 75%;
}

#settingsHeader {
  font-family: 'SHOOTING';
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

#seeDisplay {
  font-family: 'SHOOTING';
  background-color: #8A8A8A;
  border: solid 3px black;
  text-align: center;
  font-size: 150%;
  display: inline-block;
}

#helpSymbol {
  width: 80px;
  height: 80px;
  float: right;
  padding-top: 10px;
  padding-right: 10px;
  overflow: hidden;
}

#dropbtn {
  background-color: #8A8A8A;
  border: solid 5px black;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 30px;
}

#helpInfo {
  display: none;
  font-family: 'SHOOTING';
  text-align: center;
  padding: 2vh;
}

.labels {
  padding-bottom: 0.2vh;
}

.patientSettings, .deletePatient {
  font-family: 'SHOOTING';
  text-align: center;
  font-size: 140%;
  width: 80%;
  height: 600px;
  border: solid 5px black;
  background-color: #555555;
  color: #D2D2D2;
}

.gridHeadings {
  font-family: 'SHOOTING';
  color: #B3B3B3;
  font-weight: bold;
  font-size: 5vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  justify-items: start;
}

.patients {
  color: #B3B3B3;
  font-family: 'SHOOTING';
  font-size: 3.5vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  justify-items: start;
}